<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Gudang</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar(page='gudang')}"></nav>
    <div class="container text-center">
            <div class="row pt-5 pb-2">
                <h1>
                    Cari Barang
                </h1>
            </div>
    </div>

    <div class="container mt-4">
        <form th:if="${listBarang != null}" th:each="barang, iterationStatus : ${listBarang}" id="searchForm" action="/gudang/cari-barang" method="GET">
            <div class="form-group">
                <select class="form-control" id="searchDropdown" name="sku">
                    <option th:value="${barang.sku}" th:text="${barang.sku}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Cari</button>
        </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat Gudang</th>
                    <th scope="col">Stok</th>
                </tr>
            </thead>
            <tbody th:if="${listGudangBarang != null}" th:each="gudangBarang, iterationStatus : ${listGudangBarang}">
                <tr>
                    <td th:text="${iterationStatus.count}" scope="row"></td>
                    <td>
                        <a th:text="${gudangBarang.nama}" th:href="@{/gudang/{id}(id=${gudangBarang.gudang.id})}" class="btn btn-link"></a>
                    </td>
                    <td th:text="${gudangBarang.alamatGudang}"></td>
                    <td th:text="${gudangBarang.stok}"></td>
                </tr>
            </tbody>
            <tbody th:if="${listGudangBarang == null or listGudangBarang.isEmpty()}">
                <tr>
                    <td colspan="6" class="text-center">No data available</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>